.top {
    background: url(../images/top.gif) repeat-x;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    line-height: 40px;
}

.top_title {
    margin: 0 50px;
    text-align: right;
}

span.email {
    color: #4bcdd9;
    font-family: "微软雅黑";
    font-size: 12px;
}

span.iphone {
    color: #ffb243;
    padding-left: 10px;
    font-family: "微软雅黑";
    font-size: 12px;
}